{% extends '@MauticCore/Default/content.html.twig' %}

{% block mauticContent %}event{% endblock %}
{% block headerTitle %} {{ event.getName() }} {% endblock %}

{% block actions %}
    {{ include('@MauticCore/Helper/page_actions.html.twig', {
        item: event,
        templateButtons: {
            edit: is_granted('events:events:edit'),
            delete: is_granted('events:events:delete')
        },
        routeBase: 'event'
    }) }}
{% endblock %}

{% block content %}
    <div class="box-layout">
        <!-- Left Column - Event Details -->
        <div class="col-md-8 height-auto">
            <!-- Event Overview Card -->
            <div class="panel panel-default  mb-8">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-calendar mr-2"></i>
                        {% trans %}mautic.events.details.overview{% endtrans %}
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="detail-item mb-8 mt-8">
                                <label class="detail-label">{% trans %}mautic.core.id{% endtrans %}</label>
                                <div class="detail-value">
                                    <span class="label label-default">#{{ event.getId() }}</span>
                                </div>
                            </div>
                            
                            <div class="detail-item mb-8 mt-8">
                                <label class="detail-label">{% trans %}mautic.events.name{% endtrans %}</label>
                                <div class="detail-value">
                                    <strong>{{ event.getName() }}</strong>
                                </div>
                            </div>
                            
                            {% if event.getEventExternalId() %}
                            <div class="detail-item mb-8 mt-8">
                                <label class="detail-label">{% trans %}mautic.events.event_external_id{% endtrans %}</label>
                                <div class="detail-value">
                                    <code>{{ event.getEventExternalId() }}</code>
                                </div>
                            </div>
                            {% endif %}


                            {% if event.getCity() %}
                                <div class="detail-item mb-8 mt-8">
                                    <label class="detail-label">{% trans %}mautic.events.city{% endtrans %}</label>
                                    <div class="detail-value">{{ event.getCity() }}</div>
                                </div>
                            {% endif %}
                        </div>
                        
                        <div class="col-md-6">
                            {% if event.getCurrency() %}
                            <div class="detail-item mb-8 mt-8">
                                <label class="detail-label">{% trans %}mautic.events.currency{% endtrans %}</label>
                                <div class="detail-value">
                                    <i class="fa fa-money mr-1"></i>
                                    {{ event.getCurrency() }}
                                </div>
                            </div>
                            {% endif %}
                            
                            {% if event.getSuitecrmId() %}
                                <div class="detail-item mb-8 mt-8">
                                    <label class="detail-label">{% trans %}mautic.events.suitecrm_id{% endtrans %}</label>
                                    <div class="detail-value">
                                        <code>{{ event.getSuitecrmId() }}</code>
                                    </div>
                                </div>
                            {% endif %}

                            {% if event.getCountry() %}
                                <div class="detail-item mt-8 pt-8">
                                    <label class="detail-label">{% trans %}mautic.events.country{% endtrans %}</label>
                                    <div class="detail-value">{{ event.getCountry() }}</div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>




            <!-- Contacts Management Card -->
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-users mr-2"></i>
                        {% trans %}mautic.events.contacts.management{% endtrans %}
                    </h3>
                </div>
                <div class="panel-body">
                    <!-- Add Contacts Form -->
                    <div class="row mb-3">
                        <div class="col-md-10">
                            <div class="form-group">
                                <label for="contact-search">{% trans %}events.contact.search_placeholder{% endtrans %}</label>
                                <select id="contact-search" class="form-control" multiple 
                                        aria-label="{% trans %}events.contact.search_placeholder{% endtrans %}"
                                        data-event-id="{{ event.getId() }}"
                                        data-search-url="{{ path('mautic_event_contacts_search', {'objectId': event.getId()}) }}"
                                        data-search-placeholder="{{ 'events.contact.search_placeholder'|trans }}">
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label>&nbsp;</label>
                            <button id="attach-contacts" class="btn btn-primary btn-block btn-nospin" disabled
                                    data-attach-url="{{ path('mautic_event_contacts_attach', {'objectId': event.getId()}) }}">
                                <i class="fa fa-plus mr-1"></i>
                                {% trans %}events.contact.attach{% endtrans %}
                            </button>
                        </div>
                    </div>
                    
                    <!-- Contacts Table -->
                    <div id="event-contacts-table" 
                         data-event-id="{{ event.getId() }}"
                         data-contacts-url="{{ path('mautic_event_contacts', {'objectId': event.getId()}) }}"
                         data-detach-url-template="{{ path('mautic_event_contacts_detach', {'objectId': event.getId(), 'contactId': 'CONTACT_ID'}) }}"
                         data-remove-label="{{ 'events.contact.remove'|trans }}">
                        <!-- Contacts table will be loaded here via AJAX -->
                    </div>
                </div>
            </div>
        </div>

        <!-- Right Column - Statistics & Quick Actions -->
        <div class="col-md-4 height-auto pl-8">
            <!-- Quick Stats Card -->
            <div class="panel panel-default mb-3">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-bar-chart mr-2"></i>
                        {% trans %}mautic.events.quick_stats{% endtrans %}
                    </h3>
                </div>
                <div class="panel-body text-center">
                    <div class="row">
                        <div class="col-xs-12 mb-3">
                            <div class="stat-box">
                                <div class="stat-icon">
                                    <i class="fa fa-users fa-2x text-primary"></i>
                                </div>
                                <div class="stat-content">
                                    <h4 class="stat-number" id="total-contacts">-</h4>
                                    <p class="stat-label">{% trans %}mautic.events.total_contacts{% endtrans %}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Quick Actions Card -->
            <div class="panel panel-default mt-8">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-bolt mr-2"></i>
                        {% trans %}mautic.events.quick_actions{% endtrans %}
                    </h3>
                </div>
                <div class="panel-body">
                    {% if is_granted('events:events:edit') %}
                    <a href="{{ path('mautic_event_action', {'objectAction': 'edit', 'objectId': event.getId()}) }}" 
                       class="btn btn-primary btn-block mb-2 btn-nospin">
                        <i class="fa fa-edit mr-1"></i>
                        {% trans %}mautic.core.form.edit{% endtrans %}
                    </a>
                    {% endif %}
                    
                    {% if event.getWebsite() %}
                    <a href="{{ event.getWebsite() }}" target="_blank" rel="noopener noreferrer" 
                       class="btn btn-secondary btn-block mb-2 btn-nospin">
                        <i class="fa fa-external-link mr-1"></i>
                        {% trans %}mautic.events.visit_website{% endtrans %}
                    </a>
                    {% endif %}
                    
                    {% if event.getRegistrationUrl() %}
                    <a href="{{ event.getRegistrationUrl() }}" target="_blank" rel="noopener noreferrer" 
                       class="btn btn-tertiary btn-block btn-nospin mt-8" style="margin-left: 0 !important;">
                        <i class="fa fa-ticket mr-1"></i>
                        {% trans %}mautic.events.register_now{% endtrans %}
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <input name="entityId" id="entityId" type="hidden" value="{{ event.getId()|escape }}" />
    </div>

    {{ includeScript('plugins/MauticEventsBundle/Assets/js/events.js') }}
    {{ includeStylesheet('plugins/MauticEventsBundle/Assets/css/events.css') }}
{% endblock %}
