{% if showMore is defined %}
    <a href="{{ url('mautic_company_index', {'search': searchString}) }}" data-toggle="ajax">
        <span>{{ 'mautic.core.search.more'|trans({'%count%': remaining}) }}</span>
    </a>
{% else %}
    <div class="d-flex ai-center">
        <a class="fg-1" href="{{ url('mautic_company_action', {'objectAction': 'view', 'objectId': item.id}) }}" data-toggle="ajax">
            <span class="fw-sb">{{ item.primaryIdentifier() }}</span>
            <span size="sm" class="pull-right" data-toggle="tooltip" data-placement="left" title="{{ 'mautic.lead.lead.pointscount'|trans }}">
                <i class="ri-coins-line"></i>
                {{ item.score }}
            </span>
        </a>
        <div class="clearfix"></div>
    </div>
{% endif %}
