{% if showMore is defined %}
<a href="{{ url('mautic_page_index', {'search': searchString}) }}" data-toggle="ajax">
    <span>{{ 'mautic.core.search.more'|trans({'%count%': remaining}) }}</span>
</a>
{% else %}
<a href="{{ url('mautic_page_action', {'objectAction': 'view', 'objectId': item.id}) }}" data-toggle="ajax">
    <span class="fw-sb">{{ item.title|purify }}</span>
    <span class="ml-4 mr-sm">#{{ item.getId() }}</span>
    {{- include('@MauticCore/Helper/publishstatus_badge.html.twig', {
        'entity': item,
        'status': 'available',
        'simplified': 'true'
    }) -}}
    <span class="pull-right" data-toggle="tooltip" title="{{ 'mautic.page.hits'|trans }}" data-placement="left">
        <i class="ri-eye-line"></i>
        {{ item.hits }}
    </span>
</a>
{% endif %}
