{% block _config_themeconfig_widget %}
<h4 class="fw-sb mt-48 mb-xs">{{ 'mautic.config.tab.themeconfig'|trans }}</h4>
<div class="text-muted small pb-md">{{ 'mautic.core.config.header.themeconfig.description'|trans }}</div>
<div class="row">
    <div class="panel panel-default mb-md">
        <div class="panel-body">
            <h3 class="pt-20">{{ 'mautic.user.account.appearance.accent_colors'|trans }}</h3>
            <div class="help-block mb-lg">
                {{ 'mautic.user.account.appearance.accent_help'|trans }}
                {% include '@MauticCore/Helper/toggletip.html.twig' with {
                    title: 'mautic.user.account.appearance.accent_toggletip.title',
                    content: 'mautic.user.account.appearance.accent_toggletip.content',
                } %}
            </div>
            <div class="d-flex fw-wrap gap-lg mb-lg">
                {{ include('@MauticCore/FormTheme/Config/accent.html.twig', {
                    accents: [
                        { id: '01' },
                        { id: '02' },
                        { id: '03' },
                        { id: '04' },
                        { id: '05' },
                        { id: '06' },
                        { id: '07' },
                        { id: '08' },
                        { id: '09' },
                        { id: '10' },
                        { id: '11' },
                        { id: '12' },
                        { id: '13' },
                        { id: '14' },
                        { id: '15' },
                        { id: '16' },
                        { id: '17' },
                        { id: '18' },
                        { id: '19' },
                        { id: '20' },
                        { id: '21' },
                        { id: '22' },
                        { id: '23' },
                        { id: '24' },
                        { id: '25' }
                    ]
                }) }}
            </div>
            <hr>
            {% for f in form.children %}
                <div class="row">
                    <div class="col-xs-12">
                        {{ form_row(f) }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
